*, *::after ,*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    margin: 0;
    color: hsl(30, 10%, 34%);
    font-family: outfit, sans-serif;
}

#main {
    width: 750px;
    margin: 120px auto;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#img {
    width: 100%;
    border-radius: 12px;
    height: 350px;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    font-size: 45px;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    margin: 40px 0 0 0;
}

#small {
    width: 100%;
    margin-block: 15px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
    padding: 25px;
    height: 200px;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
}

.header {
    font-family: 'Young Serif', sans-serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

p, li {margin-bottom: 20px;}

b {color: hsl(30, 10%, 34%);}

hr {
    border: none;
    background-color: hsl(30, 18%, 87%);
    height: 2px;
    margin-top: 35px;
}

table {
    width: 100%;
    height: 200px; 
    border-collapse: collapse;
}

h4 {
    font-size: 20px;
    margin: 35px 0 5px;
    color: hsl(332, 51%, 32%);
}

td {padding-left: 30px;}

th {
    padding-right: 130px;
    color: hsl(332, 51%, 32%);
}

.a, .b, .c {
    border-bottom: 2px solid hsl(30, 18%, 87%);
}

a {
    text-decoration: none;
    color: hsl(332, 51%, 32%);
}

ul li::before {
    content: "•";
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    display: inline-block; 
    width: 1.8em;
    margin-left: -1.2em;
}

ol, ul {
    margin-left: -15px;
    list-style: none;
    counter-reset: li;
}

ol li::before {
    content: "." counter(li);
    counter-increment: li; 
    color: hsl(332, 51%, 32%);
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: right; 
    direction: rtl;
    font-weight: bold;
}

.attribution {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

@media (max-width: 500px) {
    #main {
        width: 100vw;
        border-radius: 0;
        margin: 0;
        padding: 0 30px 30px;
    }
    #img {
        border-radius: 0;
        width: 100vw;
        object-fit: contain;
        height: 250px;
        margin: -40px -30px -50px;
    }
    h1 {font-size: 30px;}
    .attribution {font-size: 18px;}
    .header {font-size: 22px;}
    th {padding-right: 5px;}
}
